<h1>新しいニュース</h1>

<html>
<head>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <link href="slid.css" rel="stylesheet">
  <script>
    $(document).ready(function(){
      $('.slider').bxSlider();
    });
  </script>

</head>
<body>

  <div class="slider">
    <%= image_tag "1/photo1.jpeg" %>
    <%= image_tag "1/photo2.jpeg" %>
    <%= image_tag "1/photo3.jpeg" %>
    </div>


</body>
</html>
 <%= link_to"back", href="https://8e28a2cf202b4dc98cf5aefeb6480710.vfs.cloud9.us-east-2.amazonaws.com/tests" %>

