 #s{
      background-image: image-url('14.jpg');
     
 }
 
 #s{
         font-size:50px;
     color:green;
      margin: 10px;
      }
  #s{
       background-image: image-url('14.jpg');
      font-size: 20px;
      color: red;
   }
 
 //これが、なぜか、indexにあたる
 
#back{
      padding-top: 10px;
      padding-bottom: 20px;
      font-size:30px;
   }

.x{
  background-position: center;
  font-size:30px;
  background-image: image-url('14.jpg');
  color: red;
  
}